* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Container {
  padding: 5px 52px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 20px 50px;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 24px;
  color: #505f98;
  line-height: 24px;
}
.headings {
  color: #37447e;
  font-weight: bold;
  font-size: 26px;
  line-height: 38px;
  font-family: "roboto";
  font-weight: 900;
}
.nav-button {
  background-color: #37447e;
  color: white;
  padding: 8px 50px;
  font-size: 16px;
  line-height: 18px;
  align-items: center;
}

.hero-heading {
  font-size: 50px;
  font-weight: 500;
  line-height: 66px;
  color: #091133;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-images {
  width: 540px;
  height: 450px;
}

.card-content {
  color: #6f7cb2;
  font-size: 18px;
  line-height: 26px;
}

.hero-button-div {
  padding-top: 20px;
  display: flex;
  gap: 20px;
}

.hero-button {
  padding: 8px 20px;
  background-color: #091133;
  color: white;
}
.button {
  padding: 8px 20px;
  background-color: #091133;
  color: white;
}

h1 {
  font-size: 36px;
  line-height: 48px;
  color: #091133;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  color: #000000;
  font-size: 30px;
  width: 28px;
  height: 28px;
}

.cardChild {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.child-heading {
  color: #091133;
  font-size: 18px;
  line-height: 26px;
  padding: 10px 0;
}

.child-para {
  color: #5d6970;
  line-height: 18px;
  font-size: 16px;
}

.card-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 50px;
  margin-bottom: 30px;
}

.card-content {
  display: flex;
  flex-direction: column;
  color: #6f7cb2;
  font-size: 18px;
  line-height: 26px;
  gap: 20px;
}

.price {
  text-align: center;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* background-color: #e7ecff; */
}

.dollor {
  font-size: 50px;
  line-height: 66px;
  color: #222f65;
  padding-bottom: 40px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: #c5ceef; */
  padding: 20px;
  border-bottom: 1px solid lightblue;
}

.footer-content {
  font-weight: 400;
  line-height: 24px;
  font-size: 15px;
  color: #5d6970;
}

.last-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.footer-image {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
